#!/usr/bin/make -f

export DH_VERBOSE=1

KSRC=$(shell /bin/ls -d /usr/src/linux-headers* | tail -1)

build:
	dh_testdir
	dh_auto_configure
	gcc -O2 -Wall -I$(KSRC)/include -o smictrl smictrl.c -lz -lpci
	dh_auto_test


%:
	dh $@

